# Object oriented program

In [1]:
a = 4
type(a)

int

In [2]:
b = {
    "name": ["Shreya", "Sachin", "Krishna", "Shrisha"],
    "age": [28, 35, 5, 1],
    "id": [2, 4, 6, 10],
}
type(b)

dict

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(b)
df

      name  age  id
0   Shreya   28   2
1   Sachin   35   4
2  Krishna    5   6
3  Shrisha    1  10

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
df.describe().T

     count   mean        std  min  25%   50%    75%   max
age    4.0  17.25  16.780445  1.0  4.0  16.5  29.75  35.0
id     4.0   5.50   3.415650  2.0  3.5   5.0   7.00  10.0

In [7]:
class Family:

    def __init__(self, name, std, roll_no):
        self.name = name
        self.std = std
        self.roll_no = roll_no

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am in std {self.std}")
        print(f"My roll no is: {self.roll_no}")

In [8]:
s = Family(name="Rishi", std=5, roll_no=101)
s

In [9]:
s.intro()

My name is Rishi
I am in std 5
My roll no is: 101

In [10]:
j = Family(name="Shruti", std=9, roll_no=202920)
j

In [11]:
j.intro()

My name is Shruti
I am in std 9
My roll no is: 202920

In [12]:
j.name

'Shruti'

In [13]:
from dataclasses import dataclass
from typing import Literal

In [14]:
@dataclass
class Person:
    name: str
    std: int
    roll_no: int
    gender: Literal["male", "female"]

    def tak(self):
        print(f"My name is {self.name}")
        print(f"I am in std {self.std}")
        print(f"My roll no is: {self.roll_no}")
        print(f"I am a {self.gender}")

In [15]:
p = Person(name=1220, std=2, roll_no=25, gender="male")
p

Person(name=1220, std=2, roll_no=25, gender='male')

In [16]:
p.tak()

My name is 1220
I am in std 2
My roll no is: 25
I am a male

# Banking problem

In [17]:
@dataclass
class bank_account:
    ac: int
    name: str
    balance: float = 0.0

    def checkbalance(self):
        print(
            f"The current balance for account number : {self.ac} is {self.balance: .2f} INR"
        )

    def deposit(self, amount: float):
        if amount <= 0:
            raise ValueError(f"The deposit value cannot be negative")
        self.balance = +amount

    def withdrwal(self, amount: float):
        if amount <= 0:
            raise ValueError(f"The withdrawl amount cannot be negative")
        if amount > self.balance:
            raise ValueError(f"The withdrawl amount is insufficient")
        self.balance -= amount

    def transfer(self, amount: float, ac2: "bank_account"):
        ac2.deposit(amount)
        self.withdrwal(amount)

In [18]:
j = bank_account(ac=25832, name="Shrutika Jadhav", balance=5000)

In [19]:
j.checkbalance()

The current balance for account number : 25832 is  5000.00 INR

In [20]:
j.withdrwal(1000)

In [21]:
j.checkbalance()

The current balance for account number : 25832 is  4000.00 INR

In [22]:
j.withdrwal(-200)

ValueError: The withdrawl amount cannot be negative

In [ ]:
j.checkbalance()

In [ ]:
j.withdrwal(300)
j

In [ ]:
j.checkbalance()

In [ ]:
j.deposit(2)
j.checkbalance()

In [ ]:
@dataclass
class BankAccount:
    ac_no: int
    name: str
    balance: float = 0.0

    def check_balance(self):
        print(
            f"For account number {self.ac_no} the current balance is {self.balance:.2f} INR"
        )

    def deposit(self, amount: float):
        if amount <= 0:
            raise ValueError("Deposit Amount cannot be negative")
        self.balance += amount  # self.balance = self.balance + amount

    def withdraw(self, amount: float):
        if amount <= 0:
            raise ValueError("Withdrawal Amount cannot be negative")
        if self.balance < amount:
            raise ValueError("Insufficient Balance!")
        self.balance -= amount

    def transfer(self, amount: float, ac2: "BankAccount"):
        self.withdraw(amount)
        ac2.deposit(amount)

In [ ]:
ac1 = BankAccount(ac_no=1234, name="Utkarsh", balance=3000.0)
ac1

In [ ]:
ac1.deposit(200)

In [ ]:
ac1.check_balance()

In [ ]:
ac1.check_balance()

In [ ]:
ac1.withdraw(200)
ac1

In [ ]:
from dataclasses import dataclass
from math import sqrt

In [23]:
@dataclass
class Triangle:
    a: int | float
    b: int | float
    c: int | float

    def __post_init__(self):
        if self.a <= 0 or self.b <= 0 or self.c <= 0:
            raise ValueError("The sides of traingle cannot be negative")

        if not self.is_triangle():
            raise ValueError("Sum of two sides should be greater than third")

    def is_triangle(self) -> bool:
        return (
            (self.a + self.b > self.c)
            and (self.b + self.c > self.a)
            and (self.a + self.c > self.b)
        )

    def perimeter(self) -> int | float:
        return self.a + self.b + self.c

    def area(self) -> int | float:
        s = self.perimeter() / 2
        a = sqrt(s * (s - self.a) * (s - self.b) * (s - self.c))

In [24]:
t = Triangle(25, 50, 61)

In [25]:
t.is_triangle()

True

In [26]:
m = t.perimeter()
m

136