# Object oriented program

In [1]:
a = 4
type(a)

int

In [2]:
b = {
    "name": ["Shreya", "Sachin", "Krishna", "Shrisha"],
    "age": [28, 35, 5, 1],
    "id": [2, 4, 6, 10],
}
type(b)

dict

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(b)
df

      name  age  id
0   Shreya   28   2
1   Sachin   35   4
2  Krishna    5   6
3  Shrisha    1  10

In [5]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
df.describe().T

     count   mean        std  min  25%   50%    75%   max
age    4.0  17.25  16.780445  1.0  4.0  16.5  29.75  35.0
id     4.0   5.50   3.415650  2.0  3.5   5.0   7.00  10.0

In [7]:
class Family:

    def __init__(self, name, std, roll_no):
        self.name = name
        self.std = std
        self.roll_no = roll_no

    def intro(self):
        print(f"My name is {self.name}")
        print(f"I am in std {self.std}")
        print(f"My roll no is: {self.roll_no}")

In [8]:
s = Family(name="Rishi", std=5, roll_no=101)
s

In [9]:
s.intro()

My name is Rishi
I am in std 5
My roll no is: 101

In [10]:
j = Family(name="Shruti", std=9, roll_no=202920)
j

In [11]:
j.intro()

My name is Shruti
I am in std 9
My roll no is: 202920

In [12]:
j.name

'Shruti'

In [13]:
from dataclasses import dataclass
from typing import Literal